@keyframes animate-nav-bar {
    0%{
        transform: translateY(-10vh);

    }
    100%{
        transform: translateY(0);
    }

}
@keyframes animate-chef-hat {
    0% {
        transform: translateY(0) ;
    }
    50% {
        transform: translateY(-30px) ;
    }
    100% {
        transform: translateY(0) ;
    }
}

