@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sacramento&family=Varela+Round&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: var(--font-heading-weight);
}
body {
    font-size: 62.5%;
    font-family: var(--font-body);
    font-weight: var(--font-body-weight);
}
